/* --------------------//----------------------
------ Institucional ------

> azul
HEX	#4967a9
RGB	rgb(73, 103, 169)

> cinza
HEX	#5f625f
RGB	rgb(95, 98, 95)

----- Complementares ------

> Verde escuro
HEX	#006165
RGB	rgb(0, 97, 101)

> Verde
HEX	#42ae67
RGB	rgb(66, 174, 103)

> Verde claro
HEX	#aec813
RGB	rgb(174, 200, 19)

> Azul claro
HEX	#1bb7d0
RGB	rgb(27, 183, 208)

> Azul escuro
HEX	#263473
RGB	rgb(38, 52, 115)

> Roxo
HEX	#524595
RGB	rgb(82, 69, 149)
--------------------//---------------------- */

body,html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	/* background: linear-gradient(to bottom right, #1BB7D0, #524595); */
	background: #FFF;
	overflow-x: hidden;
}

a {
	color: #1bb7d0;
}
a:hover {
	color: #1592a6;
	text-decoration: none;
}

pre {
	color: white;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.header {
	background: URL(../img/bgg.png) center;
	color: white !important;
	padding: 75px 0;
}

h2 {
	font-size: 50px !important;
	font-weight: 700 !important;
}

.logo {
	width: 30px !important;
}

.navbar-toggler {
	border: none;
	outline: none;
}

.fixed-top {
	position: relative;
}

.name {
	font-weight: 600;
	font-size: 1.2rem;
}

.content-box {
	background-color: #eee;
	/*border-radius: 5px;
	margin: 20px;
	padding: 5px;*/
}

#user-input, #user-data {
	padding: 35px;
}

.footer {
	color: #444;
	font-size: 0.7rem;
	padding: 15px 0;
}

.footer a {
	color: #777;
}

label .material-icons {
	color: #999;
	font-size: 1rem;
}
label .material-icons:hover {
	color: #545454;
	font-size: 1rem;
}

.progress {
	height: 0.5rem;
	margin: 10px 0;
}

.google {
	margin: 25px 0;
	width: 600px;
}
.googleTitle {
	color: #1a0dab;
	font-size: 18px;
	font-weight: 500;
}
.googleURL {
	color: #006621;
	font-size: 14px;
}
.googleDescription {
	color: #545454;
	font-size: 13px;
}

.og {
	margin: 25px 0;
	max-width: 527px;
}
.ogTitle {
	color: #4b4f56;
	font-family: Georgia, serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	padding-top: 12px;
}
.ogURL {
	color: #4b4f56;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 9px;
}
.ogDescription {
	color: #4b4f56;
	font-size: 13px;
	padding-top: 5px;
}
